{% extends 'index.html' %}

{% block body %}

<div class="container" style="margin-top: 20px;">
	<section class="hero is-info">
	  <div class="hero-body">
	      <h1 class="is-size-1 has-text-weight-bold has-text-dark">
	        <i class="fas fa-angle-double-right"></i>
	        Opsschool Finale Project
	      </h1>
	  </div>
	</section>
	<div class="columns" style="margin-top: 10px;">
		<div class="column is-half">
	        <article class="message is-info">
	          <div class="message-header has-text-dark is-size-3">
	            <p><i class="fas fa-laptop"></i>  Hello</p>
	          </div>
	          <div class="message-body had-text-dark is-size-5">
	          	Hi all  <br>
			Here is a quick survey for my project.<br>
		      	please fill in your feedback.
	          </div>
	        </article>
	      </div>
	      <div class="column is-3 is-offset-2" style="margin-top: 80px;">
	      	<button class="button is-large is-warning">
	      		<div>
	      			<a href="/survey" class="has-text-dark">
	      				<i class="fas fa-poll"></i>  <strong>Take the survey!</strong>
	      			</a>
	      		</div>
	      	</button>
	      </div>
	  </div>
	<div class="columns" style="margin-top: 10px;">
		<div class="column is-4 is-offset-2" style="margin-top: 70px;">
      	<button class="button is-large is-primary">
      		<div>
      			<a href="https://github.com/eransaban" class="has-text-dark">
      				<i class="fab fa-github"></i> <strong>Goto Github</strong>
      			</a>
      		</div>
      	</button>
      </div>
      <div class="column is-half">
	      <div class="column is-3 is-offset-5" style="margin-top: 80px;">
	        <article class="message is-info">
	          <div class="message-header has-text-dark is-size-3">
	            <p><i class="fas fa-graduation-cap"></i>  Opsschool!</p>
	          </div>
	        </article>
	    </div>
	</div>
</div>

{% endblock %}
